:root {
  --main-background: rgb(32, 32, 32);
  --main-color: white;
  --off-color: rgb(231, 231, 231);
  --deemphasized-color: rgb(190, 190, 190);
  --highlight-color: rgb(78, 224, 78);

  --nav-scale: 2rem;
  --nav-height: calc(var(--nav-scale) * 1.3);
  --main-padding: 2.5rem;
  --main-content-padding-top: calc(var(--nav-height) + var(--main-padding))
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--main-color);
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

html {
  background: linear-gradient(rgb(195, 255, 116), var(--main-background) 40rem), url("/noise.png");
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: 350px;
}

html, body {
  width: 100%;
  min-height: 100%;
}

/* nav */

nav {
  background-color: black;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  
  font-size: var(--nav-scale);
  font-weight: 800;

  display: flex;
  justify-content: center;
}

nav * {
  list-style: none;
}

nav *:hover {
  color: var(--highlight-color);
}

/* release page */

.release-content {
  font-weight: 550;
  padding: var(--main-content-padding-top) 10vw var(--main-padding);
}

@media screen and (max-width: 820px) {
  .release-content {
    padding: var(--main-content-padding-top) var(--main-padding) var(--main-padding);
  }
}

/* banner */

.banner {
  vertical-align: middle;
}

.banner > img {
  margin-right: 2rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.6rem;
}

.banner > img:empty {
  background-color: black;
  text-align: center;
}

.banner > * {
  display: inline-block;
  vertical-align: middle;
}

.banner-release {
  font-size: 1.6rem;
  white-space: nowrap;
}

.banner-artists {
  font-size: 1.3rem;
  white-space: nowrap;
}

/* controls-bar */

.controls-bar {
  margin-top: 0.6rem;
  padding-bottom: 1rem;
}

.play-button {
  background-color: green;
  border-radius: 100em;
  border: 0;
  padding: 1.2em;
  display: flex;
}

.play-button:hover {
  background-color: rgb(0, 117, 0);
  cursor: pointer;
}

.play-icon {
  width: 1.8em;
  height: 1.8em;
  filter: invert(95%) drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.2));
}

.play-icon-play {
  transform: translateX(0.13em);
}

/* track-list */

.track-list > ul {
  list-style: none;
}

.track {
  display: flex;
  align-items: center;
  padding: 0.8em 2rem;

  border: solid;
  border-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.1)) 1;
  border-width: 1.5px 0 0 0;
}

.track:hover {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(15px);
  cursor: pointer;
}

.track.selected {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(15px);
}

.track-details {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(0.25turn, white 70%, rgba(255, 255, 255, 0));
}

.track-number-title {
  font-size: 1.3rem;
}

.track.playing .track-number-title, .track.playing .track-title {
  color: var(--highlight-color);
}

.track-artists {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--deemphasized-color)
}

.track-length {
  flex: 0 0;
  text-align: end;
  font-size: 1.1rem;
}

/* feed page */

.feed {
  padding: var(--main-content-padding-top) max(6vw, var(--main-padding));
}

.feed-item {
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: inline-block;
  width: fit-content;
}

.feed-item:hover {
  background: linear-gradient(0turn, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(5px);
}

.feed-cover {
  width: 14rem;
  height: auto;
}

.feed-title {
  font-weight: 520;
}

.feed-title:hover {
  text-decoration: underline;
}

.feed-artists {
  color: var(--deemphasized-color);
  font-size: 0.9em;
}

.upload-form {
  background-color: rgb(119, 119, 119);
}

.upload-form input, .upload-form button {
  color: black;
}